PORT=3000
FRONTEND_URL=http://127.0.0.1:5500

GOOGLE_CLIENT_ID=insira_seu_client_id_aqui
GOOGLE_CLIENT_SECRET=insira_seu_client_secret_aqui
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback

JWT_SECRET=insira_sua_chave_secreta_aqui